
    <h1 style="text-align:center;">
      Alpha-Blog
    </h1>
    
    
    <p stlye="text-aling:center;">
      This is the "Alpha-Blog practice/homework assignment. Meant to help me with building applications as well
      as building fundamental skills. Such as HTML,CSS,Ruby, while using and getting used to the process of Ruby on
      Rails.
    </p>

<%= link_to 'Alpha-blog', articles_path %> | <%= link_to 'About', about_path %>